/* styles.css */

/* Set the font for paragraph elements */
p {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    font-weight: normal;
    color: #000000; /* Black */
    line-height: 1.5;
}

h1 {
	font-family: "Times New Roman", Times, serif;
    font-size: 32px;
    font-weight: bold;
    color: #000000; /* Black */
}
h2 {
	font-family: "Times New Roman", Times, serif;
    font-size: 24px;
    font-weight: semi-bold;
    color: #333333; /* Dark Gray */
}
    html, body {
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
            overflow-x: hidden;
        }

        .banner-image {
            width: 100%;
            height: auto;
        }
}

