/* styles.css */

/* Set the font for paragraph elements */
p {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    font-weight: normal;
    color: #000000; /* Black */
    line-height: 1.5;
}

h1 {
	font-family: "Times New Roman", Times, serif;
    font-size: 32px;
    font-weight: bold;
    color: #000000; /* Black */
}
h2 {
	font-family: "Times New Roman", Times, serif;
    font-size: 24px;
    font-weight: semi-bold;
    color: #333333; /* Dark Gray */
}
html{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
.banner-image {
    width: 100%;
    height: 75px;
} 

body {
    margin: 0;
    padding: 0;
    height: 100vh; /* Ensure the body takes up the full viewport height */
    background-image: url('https://img.freepik.com/free-photo/view-travel-items-assortment-still-life_23-2149617645.jpg?w=826&t=st=1717689410~exp=1717690010~hmac=fab7a74adc9e736f6de1958571c378d5ec6753e34953ffe9d9b062a9b7395c9f');
    background-size: cover; /* Ensure the background covers the entire area */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    background-attachment: fixed; /* Ensure the background stays fixed when scrolling */
    font-family: Arial, sans-serif;
    color: white; /* Change text color for better contrast with the background */
}
}

